/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/outfit-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  font-family: "Outfit";
  background-color: #f3e5d7;
}
.container {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 0;
  background-color: #fff;
}
.title {
  font-family: "Young Serif";
}

/* HEADER */

.site-image {
  display: flex;
  justify-content: center;
}

/* SECTION 1 */

.hero {
  color: #312e2c;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-title {
  font-weight: 400;
  font-size: 40px;
}
.hero-suptitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* SECTION 2 */
.Preparation {
  font-size: 16px;
}
.Preparation-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Preparation-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #7a284e;
}
.Preparation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: #7a284e;
}
.Prepparation-item span {
  color: #5f564d;
  font-weight: 400;
}
.Prepparation-item strong {
  font-weight: 700;
}
/* SECTION 3 */

.Ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Ingredients-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: #854632;
}
ul{
  padding-left: 8px;
}
.Ingredients-list {
  color: #854632;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ingredients-item {
 
}
.ingredients-item span{
  color: #5F564D;
}
